.navbar-container {
  width: 100%;
  background-color: #34495e;
  margin-top: -8px;
  position: relative;
}

.top-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.top-navbar p {
  font-size: 20px;
}

.top-navbar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid black;
}

.top-navbar h2 {
  margin: 0;
  margin-right: 5px;
  color: aliceblue;
}

.dropdownn-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 60%;
  background-color: #182d43;
}

.dropdownn-button:hover {
  background-color: #3e5873;
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* Adjust based on your navbar height */
  right: 0px;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  width: 240px;
  height: 200px;
  margin-top: 24px;
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(-20px); /* Start position off-screen */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0); /* Final position */
  animation: slideInTop 0.3s ease-out;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-20px); /* Start position off-screen */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Final position */
    opacity: 1;
  }
}

.dropdown-menu p {
  cursor: pointer;
  font-weight: bold;
  /* padding-top: 15px; */
}

.dropdown-menu p:hover {
  background-color: #f0f0f0;
}

.dropdown-menu img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.dropdown-menu button {
  background-color: #34495e;
}

.dropdown-menu button:hover {
  background-color: #465c71;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .top-navbar {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
  }

  .top-navbar p {
    font-size: 18px;
  }

  .top-navbar img {
    width: 40px;
    height: 40px;
  }

  .dropdown-menu {
    width: 200px;
    height: auto;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .top-navbar {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    
  }

  .top-navbar p {
    font-size: 16px;
  }

  .top-navbar img {
    width:40px;
    height: 40px;
  }

  .dropdown-menu {
    width: 180px;
    height: auto;
    padding-top: 20px;
    right: 5px;
  }
}
